.main {
  font-family: Pretendard-Regular, Arial, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.title {
  font-weight: bold;
}

.area_btn {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
}

.area_btn_redraw {
  box-sizing: border-box;
  width: 100%;
  padding: 0 20px;
}

.btn_lottery {
  display: inline-block;
  padding: 10px 20px;
  background-color: #d72e36;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: background-color 0.3s;
  width: 100%;
  height: 50px;
  margin: 40px 0;
  font-weight: bold;
}

.btn_redraw {
  position: relative;
  bottom: 100px;
  padding: 20px 40px;
  background-color: #d72e36;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: background-color 0.3s;
  width: 100%;
  font-weight: bold;
}

.label {
  display: none;
}

.wrap_input {
  width: 100%;
  height: 60px;
  margin: 40px 0;
  padding: 20px;
  border-radius: 8px;
  box-sizing: border-box;
}

.input_number {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #e9e9e9;
  padding: 0 42px;
  font-size: 15px;
  line-height: 60px;
  color: #333;
}

.footer {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: #333;
  opacity: 0.5;
  text-align: center;
  width: 100%;
}
